.App {
  text-align: center;
}

.custom-tooltip {
  position: relative;
}

.custom-tooltip::before {
  content: 'LogOut';
  position: absolute;
  top: 125%; 
  left: -100%;
  transform: translateX(-50%);
  background-color: #000000e1;
  color: #fff;
  padding: 8px;
  border-radius: 12px 0px 12px 12px;
  display: none;
}

.custom-tooltip:hover::before {
  display: block;
}
